/* Reduce the size of the MUI DatePicker popup */
/* From Uiverse.io by ahmed150up */
.notes-form-container {
  width: 30rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.notes-form-title {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.notes-form-title input {
  width: 90%;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  text-align: center;
  outline: none;
}

.notes-form-row {
  margin-bottom: 10px;
}

.notes-form-textarea {
  height: 29rem;
  width: 27.8rem;
  overflow-y: scroll;
  padding: 10px;
  border: none;
  background: #f9f9f9;
}

.notes-form-tags {
  width: 26rem;
  padding: 1rem;
  border: none;
  outline: none;
  font-size: 14px;
  background: whitesmoke;
  margin-block: 1rem;
  margin-inline-start: 1rem;
}

.notes-form-row.title {
  margin-bottom: 5px;
}

.notes-form-row.textarea {
  margin-bottom: 10px;
}

.notes-form-row.tags {
  margin-bottom: 10px;
}

.notes-form-buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.notes-form-submit {
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.notes-form-submit:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.notes-form-cancel {
  border: none;
  margin-right: 2rem;
  outline: none;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
